{% autoescape off %}
Dear {{ doctor_name }},

I hope this email finds you well. I am writing to submit the attendance sheet for {{ audiance }} at {{ date }}.
Please find the attached document containing the attendance records of all the students present during the specified session.

If you require any further information or have any questions regarding the attendance records, please feel free to reach out to me.

Thank you for your attention to this matter.

Regards,
Techno Vision team
{% endautoescape %}
