{% extends "attend/layout.html" %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center mt-3">
  <h1 class="attendance-form-title">Reset Password</h1>
  <form class="attendance-form" method="post" id="password-reset-form">
  {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid">
      <button type="submit" class="submit-btn mx-auto " id="submit-button">Reset</button>
  </div>
  </form>

</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/forms/password_reset_form.js' %}"></script>
{% endblock %}
